.box1{
  background-color: red;
  color:white;
  font-size: 18px;
  border-color: #FFF;
  width:150px;
  transition: 5s;
  border-color: black;
}
.box-1 button:hover{
  background-color: #a22c00;
  color:black;
  transition: 5s;
  border-color: #150995;
}
